ETHERSCAN_KEY=
BASE_RPC_URL=
BASE_SEPOLIA_RPC_URL=
ALCHEMY_KEY=
MNEMONIC=
TENDERLY_ACCESS_KEY=
TENDERLY_PROJECT=
TENDERLY_VERIFIER_URL=
BLOCK_NUMBER=34198223

# Fork Deployment
BASE_MAINNET_RPC_URL=
FORK_BLOCK_NUMBER=
